#clock-container{
    position: relative;
    height: 40vw;
    width: 40vw;
    background: url("clock.jpg") no-repeat;
    background-size: 100%;
    border: 2px solid rosybrown;
    border-radius: 5px;
    margin: auto;
}

#dot{
    position: relative;
    height: 6%;
    width: 6%;
    border-radius: 50%;
    top: 47%;
    left: 47.9%;
    bottom: 48.5%;
    opacity: 0.8;
    background: rgb(250, 3, 213);
}

#hour ,#minute ,#second{
    position: absolute;
    background: rgb(252, 17, 205);
    border-radius: 10px;
    transform-origin: bottom;
   
}

#hour{    
    width: 2%;
    height: 23%;
    top: 27%;
    left: 49.5%;
    bottom: 49.5%;
    opacity: 0.8;
   
}

#minute{

    width: 1.8%;
    height: 31%;
    top: 19%;
    left: 49.6%;
    bottom: 49.5%;
    opacity: 0.8;   
}

#second{
    width: 1.4%;
    height: 35%;
    top: 15%;
    left: 49.6%;
    bottom: 49.5%;
    opacity: 0.8;
}